div(id="head-line")!= partial("include/head-line.jade")

div(id="main")
  div(id="head-logo")!= partial("include/head-logo.jade")

  h2 ユーザ登録

  p
    - if (err)
      p ユーザ登録に失敗しました。
      p #{err.code}, #{err.message}
    - else
      p ユーザ登録に成功しました!
      p
        | こんにちは、
        strong #{name}
        | &nbsp;さん。

