<% if (displayThumbnail == "on") { %>
  <% for (var i = 0; i < SearchResponse.Web.Results.length; i++) { %>
    <li>
    <div class="search-result">

    <div class="search-result-left">
    <a href="<%= SearchResponse.Web.Results[i].Url %>"><img alt="" src="http://img.simpleapi.net/small/<%= SearchResponse.Web.Results[i].Url %>"></a>
    </div>

    <div class="search-result-right">
    <h2 class="search-result-title"><a href="<%= SearchResponse.Web.Results[i].Url %>"><%= escape_tag(SearchResponse.Web.Results[i].Title) %></a></h2>
    <p id="search-result-desc-id-<%= i %>" class="search-result-desc">
    <%= emphasize_keyword(escape_tag(SearchResponse.Web.Results[i].Description), SearchResponse.Query.SearchTerms) %>
    </p>

    <div class="search-result-subtle-info">
    <span class="search-result-disp-url"><%= emphasize_keyword(url_decode(SearchResponse.Web.Results[i].DisplayUrl), SearchResponse.Query.SearchTerms) %></span>
    <% if (SearchResponse.Web.Results[i].CacheUrl) { %>
    - <a href="<%= SearchResponse.Web.Results[i].CacheUrl %>" class="search-result-cache">キャッシュ</a>
    <% } %>

    <% if (SearchResponse.Web.Results[i].DeepLinks) { %>
      <div class="search-result-deep-link"><strong>もっと見る:</strong>
      <% for (var j = 0; j < SearchResponse.Web.Results[i].DeepLinks.length; j++) { %>
        - <a href="<%= SearchResponse.Web.Results[i].DeepLinks[j].Url %>"><%= escape_tag(SearchResponse.Web.Results[i].DeepLinks[j].Title) %></a>
      <% } %>
      </div>
    <% } %>

    <p style="clear: both;"></p>

    </div>
    </div>
    </div>

    </li>
  <% } %>
<% } else { %>
  <% for (var i = 0; i < SearchResponse.Web.Results.length; i++) { %>
    <li>
    <div class="search-result">

    <h2 class="search-result-title"><a href="<%= SearchResponse.Web.Results[i].Url %>"><%= escape_tag(SearchResponse.Web.Results[i].Title) %></a></h2>
    <p id="search-result-desc-id-<%= i %>" class="search-result-desc">
    <%= emphasize_keyword(escape_tag(SearchResponse.Web.Results[i].Description), SearchResponse.Query.SearchTerms) %>
    </p>

    <div class="search-result-subtle-info">
    <span class="search-result-disp-url"><%= emphasize_keyword(url_decode(SearchResponse.Web.Results[i].DisplayUrl), SearchResponse.Query.SearchTerms) %></span>
    <% if (SearchResponse.Web.Results[i].CacheUrl) { %>
    - <a href="<%= SearchResponse.Web.Results[i].CacheUrl %>" class="search-result-cache">キャッシュ</a>
    <% } %>

    <% if (SearchResponse.Web.Results[i].DeepLinks) { %>
      <div class="search-result-deep-link"><strong>もっと見る:</strong>
      <% for (var j = 0; j < SearchResponse.Web.Results[i].DeepLinks.length; j++) { %>
        - <a href="<%= SearchResponse.Web.Results[i].DeepLinks[j].Url %>"><%= escape_tag(SearchResponse.Web.Results[i].DeepLinks[j].Title) %></a>
      <% } %>
      </div>
    <% } %>

    <p style="clear: both;"></p>

    </div>
    </div>

    </li>
  <% } %>
<% } %>
